@import "../../assets/scss/main.scss";
$bg-rating: #1f2e46;
@mixin bgImg() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
* {
  margin: 0;
}
.film {
  .film__container {
    @include padding-x(10px);
    .film__ratingWrapper {
      background-color: $bg-rating;
    }
    .film__img {
      height: 340px;

      @include bgImg();
    }

    &:hover {
      .film__video {
        opacity: 1;
        visibility: visible;
      }
      .film__detail {
        opacity: 0;
      }
      .film__btnBuyTicket {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
@include ipad {
  .film {
    .film__container {
      .film__img {
        height: 255px;
      }
    }
  }
}

@include iphone6-7-8plus {
  .multipleRowMobile {
    margin-top:40px;
    .film {
      width: 50%;
      .film__container {
        .film__img {
          height: 250px;
        }
      }
    }
  }
}
