@import "../../../assets/scss/main.scss";
@include iphone6-7-8plus {
  .ant-layout-content {
    margin: 0 !important;
  }
  .site-layout-background {
    padding: 0 10px !important;

  }
  .ant-layout-header {
    z-index: 9999!important;
  }
  .admin__films {
    .ant-input-group-wrapper {
      margin-top: 45px;
    }
    .ant-table-container {
      overflow-x: scroll;
      .ant-table-thead {
        white-space: nowrap;
      }
      .ant-table-tbody {
        .ant-table-cell {
          &:last-child {
            white-space: nowrap;
          }
        }
      }
    }
    .ant-table-pagination-right {
        justify-content: center;
    }
  }
}
